body {
  margin:0px;
}
#Box1 {
  border:5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background-color: coral;

  margin: 50px;
}
#Box2{
  border:5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background-color:fuchsia;
}