* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
h1 {
  border: 4px red double; 
  text-align:center;
  margin:1.5rem;  
  font-size: 3rem;
  padding:0.5em;
}
p {
  border:5px red double; 
  margin: 1.5rem; 
  padding:1.5em;  
  font-size: 2rem;
  outline: 10px solid green;
}

